.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 90%;
    box-shadow: 0 0 20px rgba(215, 92, 0, 1);
}

.styled-table thead tr {
    background-color: #D75C00;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #1b1b1c;
    color: #e8dcdc;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #000000;
    color: #D75C00;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #D75C00;
}